-e git+https://github.com/cloudify-cosmo/cloudify-plugins-common@master#egg=cloudify-plugins-common==3.2.1
-e git+https://github.com/cloudify-cosmo/cloudify-openstack-plugin@master#egg=cloudify-openstack-plugin==1.2.1